name: E2E release compatibility

on:
  merge_group:
  push:
  pull_request:

jobs:
  end_to_end_release_compatibility:
    name: E2E release compatibility
    runs-on: ubuntu-latest

    steps:
      - name: Install `just`
        uses: extractions/setup-just@v1

      - name: Check out `ndc-postgres`
        uses: actions/checkout@v3
        with:
          repository: hasura/ndc-postgres
          path: ndc-postgres

      - name: Check out `v3-engine`
        uses: actions/checkout@v3
        with:
          repository: hasura/v3-engine
          path: v3-engine
          token: ${{ secrets.HASURA_ORG_REPO_CHECKOUT_PAT }}

      - name: Check out `v3-e2e-testing`
        uses: actions/checkout@v3
        with:
          repository: hasura/v3-e2e-testing
          path: v3-e2e-testing
          token: ${{ secrets.HASURA_ORG_REPO_CHECKOUT_PAT }}

      - name: Run the tests
        run: just test-postgres-new
        working-directory: v3-e2e-testing
