name: Schema Definitions for Metadata

on:
  push:

jobs:
  schema_definitions:
    name: Metadata schema definitions
    runs-on: ubuntu-latest
    env:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
      RUSTFLAGS: "-D warnings" # fail on warnings
    steps:
      - uses: actions/checkout@v6

      - name: install tools
        run: |
          rustup show
          # install cargo-nextest
          curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build" # share the cache across jobs
          save-if: false

      # currently there are no tests in here, leaving to ensure any that are
      # added are run
      - name: OpenAPI Definitions
        run: cargo nextest run --no-tests=pass --no-fail-fast --release --filter-expr='package(openapi-generator)'
